/* FLEX BOX SIGHTINGS */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-box {
  position: relative;
  background-color: rgb(15, 15, 15);
  height: 30vw;
  width: 30%;
  margin: 1%;
}

.sighting_underlay {
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
}

.flex-box:hover .sighting_underlay{
  opacity: 0;
  transition: 1s ease;
}

.icon_edit {
  position: absolute;
  top: 5%;
  right: 14%;
  width: 2vw;
}

.icon_edit:hover {
  width: 2.2vw;
  transition: 0.2s ease;
}

.icon_close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 2vw;
}

.icon_close:hover {
  width: 2.2vw;
  transition: 0.2s ease;
}

.sighting_text {
  position: absolute;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  left: 5%;
  width: 90%;
}

.sighting_title {
  top: 5%;
  height: 20%;
  width: 70%;
  font-size: 2vw;
  text-align: left;
}

.sighting_desc_h {
  top: 25%;
  height: 5%;
  font-size: 1.15vw;
  text-align: left;
}

.sighting_desc {
  top: 30%;
  height: 30%;
  font-size: 1.5vw;
  text-align: left;
}

.sighting_location_h {
  top: 65%;
  height: 5%;
  font-size: 1.15vw;
  text-align: left;
}

.sighting_location {
  top: 70%;
  height: 10%;
  font-size: 1.5vw;
  text-align: left;
}

.creator_info {
  position: absolute;
  top: 85%;
  height: 10%;
}

.creator_image {
  position: absolute;
  float: left;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.creator_name {
  position: absolute;
  left: 15%;
  font-size: 1.5vw;
  /* Following is for vertical centering */
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}


  