/* FLEX BOX SIGHTING TYPES */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-box {
  position: relative;
  background-color: black;
  height: 30vw;
  width: 30%;
  margin: 1%;
}

.type_text {
  position: absolute;
  bottom: 5%;
  width: 100%;
  font-size: 40px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  text-align: center;
}

.type_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.type_image:hover {
  opacity:0.5;
  transition: 1s ease;
}

  