/* ---- TOP NAVIGATION BAR ---- */
#topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: xx-large;
    color: #f2f2f2;
    text-align: center;
}
 
/* Left side title box */
#top_title {
    float: left;
    display: block;
    padding: 14px 16px;
}

/* Stack links on the right */
#nav_home {
    float: right;
}
#nav_new_entry {
  float: right;
  margin-right: 30px;
}

/* topbar link aesthetics */
#topbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* topbar link changes colour on hover */
#topbar a:hover {
    background-color: #ddd;
    color: black;
  }

