<html>
    <head>
        <title>Welcome to Wildsight!</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css')}}">

    </head>
    <body>
        <ul id="topbar">
            <li id="top_title">WILDSIGHT - Wildlife Sightings</li>
            <li id="nav_home"><a href="{{url_for('home')}}">Home</a></li>
        </ul>


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div class="flex-container">
            <div class="flex-box new_entry"><a href="{{url_for('create_sighting')}}"> New Entry </a></div>
            {% for type in types %}
            <div class="flex-box type">
                <img class="type_image" src="{{url_for('static', filename=type.image)}}">
                <div class="type_text">{{ type.type }}</div>
            </div>
            
            {% endfor %}
        </div>

    </body>
</html>