{% extends "base_layout.html" %}

{% block head %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/flex-box_sighting.css')}}">
{% endblock %}


{% block content %}

<h1> Sighting Type: {{type_name}} </h1>
<br>

    <div class="flex-container">
        {% for sighting in sightings %}
        
            <div class="flex-box">
                <div class="sighting_underlay"></div>
                <a href="{{url_for('edit_sighting', type_id=sighting.sighting_type_id, sighting_id=sighting.id)}}">
                    <img class="icon_edit" src="{{url_for('static', filename='icon/icon_edit.png')}}">
                </a>
                <a href="{{url_for('delete_sighting', type_id=sighting.sighting_type_id, sighting_id=sighting.id)}}">
                    <img class="icon_close" src="{{url_for('static', filename='icon/icon_close.png')}}">
                </a>
                <div class="sighting_title sighting_text">{{ sighting.title }}</div>
                <div class="sighting_desc_h sighting_text">Description:</div>
                <div class="sighting_desc sighting_text">{{ sighting.description }}</div>
                <div class="sighting_location_h sighting_text">Location:</div>
                <div class="sighting_location sighting_text">{{ sighting.location }}</div>
            </div>
        
        {% endfor %}
    </div>
{% endblock %}